[submodule "external/cmake-avr"]
	path = external/cmake-avr
	url = https://github.com/mkleemann/cmake-avr
[submodule "external/gtest"]
	path = external/gtest
	url = https://github.com/google/googletest.git
